{extend name="public/base" /}
{block name="content"}
<section>
	<div class="container mt-20">
		<div class="row">
			<div class="col-lg-9 col-md-9 col-sm-8">
				<div>
					<p class="Hui-iconfont f-20">&#xe616; 文章分类</p> 
				</div>
				<div id="latest_article" class="bk-gray pd-10">
					<ul>
						{volist name='article_category' id='category'}
							<li class="bk-gray pd-10 mt-10">
								<h4 class="title">
									<a href="{:url('blog/article/getCategory',['id'=>$category.id])}">{$category.category_title}</a>
								</h4>
								
								
							</li>
						{/volist}
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4">
				<div class="panel panel-default mt-15">
					<div class="panel-header">点赞排行</div>
					<div class="panel-body">
						<ol class="list-group" id="PraiseList">
							
						</ol>
					</div>
				</div>
				<div class="panel panel-default mt-15">
					<div class="panel-header">阅读量排行</div>
					<div class="panel-body">
						<ol class="list-group" id="ClickList">
							
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</section>

	
<script type="text/javascript">
	$(function(){
		//返回顶部
		$.Huitotop();
		getPraiseArticleList();
		getClickArticleList();
			
	})
	//获取点赞排序列表
	function getPraiseArticleList(){
		$.ajax({
			type:"post",
			url:"{:url('blog/article/getPraiseArticleList')}",
			async:false,
			success:function(data){
				if(data.code == 0){
					var article = data.data;
					for(var i=0;i<article.length;i++){
						var PraiseStr = "<li class='slider_li'><a class='f-14' href="+article[i].article_url+">"+article[i].title+"</li>";
						$('#PraiseList').append(PraiseStr);
					}		
				}
			},
			error:function(){
				layer.msg('系统错误，请稍后尝试！',{icon:2,time:2000},function(){
					window.location.reload();
				})
			}
		}) 
	}
	//获取阅读量排序列表
	function getClickArticleList(){
		$.ajax({
			type:"post",
			url:"{:url('blog/article/getClickArticleList')}",
			async:false,
			success:function(data){
				if(data.code == 0){
					var article = data.data;
					for(var i=0;i<article.length;i++){
						var ClickStr = "<li class='slider_li'><a class='f-14' href="+article[i].article_url+">"+article[i].title+"</li>";
						$('#ClickList').append(ClickStr);
					}		
				}
			},
			error:function(){
				layer.msg('系统错误，请稍后尝试！',{icon:2,time:2000},function(){
					window.location.reload();
				})
			}
		}) 
	}

</script>
	
	
{/block}