{extend name='public/base' /}
{block name='content'}
{include file="blog@public/nav" /}

<section>
	<div class="container mt-15">
		<div class="row">
			<div class="col-lg-9 col-md-9">
				<div class="bk-gray">
					<div>
						<h3 class="text-c">{$article.title}</h3>
						<div class="text-c">
							<span><a href="{:url('blog/member/readMember',['id'=>$article.member.id])}"><i class="Hui-iconfont"> &#xe62c;</i>
									作者：{$article.member.username}&nbsp;&nbsp; </a></span>
							<span><a href="javascript:"><i class="Hui-iconfont">&#xe728;</i> 时间：{$article.update_time}&nbsp;&nbsp; </a></span>
							<span><a href="{:url('blog/article/readArticle',['id'=>$article.id])}"><i class="Hui-iconfont">&#xe622;</i>评论：{$article.comment_num}&nbsp;&nbsp;
								</a></span>
							<span><a href="javascript:"><i class="Hui-iconfont">&#xe725;</i>浏览：{$article.click_num}&nbsp;&nbsp; </a></span>
							<span><a id="addPraise" href="javascript:"><i class="Hui-iconfont">&#xe66d;</i>点赞：{$article.praise_num}</a></span>
						</div>
						<div class="text-l">
							<i class="Hui-iconfont">&#xe64b;</i>标签：
							{volist name='article.tags' id='tag'}
							{$tag.name}
							{/volist}
							<button id="collect_article" class="f-r btn btn-primary radius" style="display: none;"><i class="Hui-iconfont">&#xe69e;</i>收藏文章</button>
							<button id="uncollect_article" class="f-r btn btn-primary radius" style="display: none;"><i class="Hui-iconfont">&#xe630;</i>取消收藏</button>
						</div>
					</div>
					<div class="bk-gray mt-15 pd-15">
						{$article.content|default="暂无内容"|raw}
						<div class="f-20 pt-35 pd-25">
							{if !empty($last_article)}
							<span class="f-l"><a href="{:url('blog/article/readArticle',['id'=>$last_article.id])}"><i class="Hui-iconfont">&#xe69b; </i>上一篇</a></span>
							{else}
							
							{/if}
							{if !empty($next_article)}
							<span class="f-r"><a href="{:url('blog/article/readArticle',['id'=>$next_article.id])}">下一篇 <i class="Hui-iconfont">&#xe69a;</i></a></span>
							{else}
							
							{/if}
						</div>
					</div>
					<div class="bk-gray mt-15 pd-15">
						<h4 class="text-l"><strong><i class="Hui-iconfont">&#xe686; </i>文章评论</strong> </h4>
						<div class="bk-gray pd-15">
							<ul class="commentList">
								{volist name='$article.comments' id='comment'}
								<li class="item cl"> <a href="{:url('blog/member/readMember',['id'=>$comment.member.id])}"><i class="avatar size-L radius"><img alt="" src="{$comment.member.userimage}"></i></a>
									<div class="comment-main">
										<header class="comment-header">
											<div class="comment-meta"><a class="comment-author" href="{:url('blog/member/readMember',['id'=>$comment.member.id])}">{$comment.member.username}</a> 评论于
												<time title="{$comment.create_time}" datetime="{$comment.create_time}">{$comment.create_time}</time>
											</div>
										</header>
										<div class="comment-body">
											<p><a href="#"></a> {$comment.content|raw}</p>
										</div>
									</div>
								</li>
								{/volist}
							</ul>

						</div>
						<div class="mt-15">
							{if session('?member.id')}
							<h4>发布评论</h4>
							<div id="article_comment"></div>
							<div class="text-r mt-10">
								<button id="addComment" class="btn btn-primary radius"> 发表评论</button>
							</div>
							{else /}
							<h4>登录发布评论  <a class="c-blue" href="{:url('blog/auth/login')}">立即登录</a></h4>
							<div id="article_comment"></div>
							<div class="text-r mt-10">
								<button id="addComment" class="btn btn-primary radius"> 发表评论</button>
							</div>
							{/if}
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3">

			</div>
		</div>
	</div>
</section>

{/block}
{block name='javascript_content'}
<script>
	layui.use(['jquery','form', 'layedit', 'laydate', 'upload'], function() {
		var form = layui.form,
			layer = layui.layer,
			layedit = layui.layedit,
			upload = layui.upload,
			laydate = layui.laydate;
			var $ = layui.$;

		//日期
		laydate.render({
			elem: '#date'
		});
		laydate.render({
			elem: '#date1'
		});


	})
</script>
<script type="text/javascript">
	var E = window.wangEditor
	var editor = new E('#article_comment')
	editor.customConfig.menus = [
		// 'head',
		// 'bold',
		// 'italic',
		// 'underline',
		// 'foreColor',
		// 'backColor',
		// 'image',
		'emoticon',
		'code',
		'undo',
		'redo'
	];
	editor.customConfig.uploadImgServer = '/upload';

	editor.create();
	
	var article_id = "{$article.id}";
	var member_id = "{$Think.session.member.id}";
	$(document).ready(function(){
		checkArticleMember();
	});
	s = $('#collect_article').css('display');
	//检测文章与用户关系
	function checkArticleMember()
	{
		$.ajax({
			type:"post",
			url:"{:url('blog/article/checkarticlemember')}",
			async:false,
			data:{
				article_id:article_id,
				member_id:member_id,
			},
			success:function(data){
				if(data.code == 0){
					$('#collect_article').css('display','block');
					$('#uncollect_article').css('display','none');
				}else if(data.code==2){
					//已登录，已关注
					$('#collect_article').css('display','none');
					$('#uncollect_article').css('display','block');
				}else{
					return;	
				}
			},
			error:function(){
				return;
			}
		});
	};
	

	//新增评论
	$("#addComment").click(function() {
		if (editor.txt.text() == '') {
			layer.msg('评论信息不可为空！', {
				icon: 2
			});
			return false;
		}
		$.ajax({
			type: "post",
			url: "{:url('blog/article/addComment')}",
			async: false,
			data: {
				article_id: "{$article.id}",
				comment_content: editor.txt.html(),
			},
			success: function(data) {
				if (data.code == 0) {
					layer.msg(data.msg, {
						icon: 1,
						time: 2000
					}, function() {
						window.location.reload();
					});
				} else {
					layer.msg(data.msg, {
						icon: 0,
						time: 2000
					});
				};
			},
			error: function() {
				layer.msg('系统错误，稍后再试！', {
					icon: 2,
					time: 2000
				}, function() {
					window.parent.location.reload();
				});
			}
		});
	});
	
	//收藏文章
	$('#collect_article').on('click',function(){
		$.ajax({
			type:"post",
			url:"{:url('blog/article/collectarticle',['id'=>$article.id])}",
			async:false,
			success:function(data){
				if(data.code == 0){
					layer.msg(data.msg,{icon:1,time:1000},function(){
						$('#collect_article').css('display','none');
						$('#uncollect_article').css('display','block');
					});
				}else if(data.code == 2){
					layer.msg(data.msg,{icon:0,time:2000},function(){
						$('#collect_article').css('display','none');
						$('#uncollect_article').css('display','block');
					});
				}else{
					layer.msg(data.msg,{icon:2,time:2000},function(){
						window.location.reload();
					});
				};
			},
			error:function(){
				layer.msg('系统错误，请稍后尝试！',{icon:2,time:2000},function(){
					window.location.reload();
				})
			}
		});
	});
	
	//取消收藏
	$('#uncollect_article').on('click',function(){
		$.ajax({
			type:"post",
			url:"{:url('blog/article/uncollectarticle',['id'=>$article.id])}",
			async:false,
			success:function(data){
				if(data.code == 0){
					layer.msg(data.msg,{icon:1,time:1000},function(){
						$('#collect_article').css('display','block');
						$('#uncollect_article').css('display','none');
					});
				}else if(data.code == 2){
					layer.msg(data.msg,{icon:0,time:2000},function(){
						$('#collect_article').css('display','block');
						$('#uncollect_article').css('display','none');
					});
				}else{
					layer.msg(data.msg,{icon:2,time:2000},function(){
						window.location.reload();
					});
				};
			},
			error:function(){
				layer.msg('系统错误，请稍后尝试！',{icon:2,time:2000},function(){
					window.location.reload();
				})
			}
		});
	};
	
	//点赞
	$('#addPraise').on('click',function(){
		$.ajax({
			type:"post",
			url:"",
			async:false,
			success:function(data){
				 
			}
		});
	})
	
	
	
</script>
{/block}
