{extend name="public/base" /}
{block name="content"}
<section>
	<div class="container mt-20">
		<div class="row">
			<div class="col-lg-9 col-md-9 col-sm-8">
				<div>
					<p class="Hui-iconfont f-20">&#xe616; 文章分类</p> 
				</div>
				<div id="latest_article" class="bk-gray pd-10">
					<ul>
						{volist name='article_category' id='category'}
							<li class="bk-gray pd-10 mt-10">
								<h4 class="title">
									<a href="{:url('blog/article/getCategory',['id'=>$category.id])}">{$category.category_title}</a>
								</h4>
								
								
							</li>
						{/volist}
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4">
				other
			</div>
		</div>
	</div>
	
</section>

	
	<script type="text/javascript">
		$(function(){
			$('#user_screen').text('屏幕宽度：' + screen.availWidth+'屏幕高度：' + screen.availHeight);
			
		})

</script>
	
	
{/block}