{extend name="public/base" /}
{block name="content"}
<style>
	@media (min-width: 300px){
		.user-login{
			margin-left: 1%;
			width: 95%;
			min-width: 300px;
			height: 70%;
			min-height: 600px;
			max-height: 800px;
		}
	}
	@media (min-width: 768px) {
		.user-login{
		margin-left: 25%;
		width: 50%;
		min-width: 400px;
		max-width: 800px;
		height: 70%;
		min-height: 600px;
		max-height: 800px;
	}
	}
	
</style>
<div class="layadmin-user-login layadmin-user-display-show user-login" id="user-login" style="margin-top: 40px;">
	<div class="layadmin-user-login-main">
		<div class="layadmin-user-login-box layadmin-user-login-header">
			<h2>会员登录</h2>
		</div>
		<div class="layadmin-user-login-box layadmin-user-login-body layui-form">
			<div class="layui-form-item">
				<label class="layadmin-user-login-icon layui-icon layui-icon-username" for="username"></label>
				<input type="text" id="username" name="username"  lay-verify="required" placeholder="用户名" class="layui-input">
			</div>
			<div class="layui-form-item">
				<label class="layadmin-user-login-icon layui-icon layui-icon-password" for="password"></label>
				<input type="password" id="password" name="password"  lay-verify="required" placeholder="密码" class="layui-input">
			</div>

			<div class="layui-form-item">
				<div class="layui-row">
					<div class="layui-col-xs7">
						<label class="layadmin-user-login-icon layui-icon layui-icon-vercode" for="vercode"></label>
						<input type="text" id="vercode" name="vercode"  placeholder="图形验证码" class="layui-input">
					</div>
					<div class="layui-col-xs5">
						<div style="margin-left: 10px;margin-top: 15px;">
							<img src="{:captcha_src()}" onclick="this.src='{:captcha_src()}?seed='+Math.random()" class="layadmin-user-login-codeimg" lay-submit lay-filter="LAY-user-get-vercode">
						</div>
					</div>
				</div>
			</div>

			<div class="layui-form-item">
				<input value="1" id="remember_me" type="checkbox" name="zzz" lay-skin="switch" lay-text="开启|关闭" checked="checked"><p style="display: inline;font-size: medium;margin-top: 10px;">记住账号，一周内自动登录</p>
			</div>
			<div class="layui-form-item">
				<button id="loginButton" class="layui-btn layui-btn-fluid">登 入</button>
			</div>
			<div class="layui-trans layui-form-item layadmin-user-login-other">
				<label>社交账号登入</label>
				<a id="qq_login"><i class="layui-icon layui-icon-login-qq"></i></a>
				<!--<a href="javascript:;"><i class="layui-icon layui-icon-login-wechat"></i></a>-->
				<!--<a href="javascript:;"><i class="layui-icon layui-icon-login-weibo"></i></a>-->
				<a id="register" href="{:url('blog/auth/register')}" class="layadmin-user-jump-change layadmin-link">没有账号？注册帐号</a>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="javascript_content"}
<script>
	layui.use(['jquery','form','layer'],function(){
		var $ = layui.$;
		var layer = layui.layer;
		var form = layui.form;

	})
	
	$(document).ready(function(){
		$('#username').focus();
	})



    /**
     * 会员登录
     */
    var token = "{$Request.token}";
    $("#loginButton").click(function (){
    	member_login();
    });
		
		//回车提交
		$(document).keyup(function(event){
									if(event.keyCode ==13){
											member_login();
									}
							});
		
		//登录函数
		function member_login(){
			
			var loading = layer.load({time: 0, scrollbar: false, shade: this.shade});
			$.ajax({
				type:"post",
				url:"{:url('blog/auth/post_login')}",
				async:false,
				dataType:'json',
				data:{
					username: $("#username").val(),
					password: $("#password").val(),
					vercode: $("#vercode").val(),
					remember_me:$('#remember_me').is(':checked'),
					__token__:token,
				},
				success:function(data){
								token = data.token;
								layer.close(loading);
								if (data.code == 0) {
										layer.msg(data.msg, {icon: 1, time: 3000}, function () {
												window.location.href = "{:url('blog/index/index')}";
										});
								}
								else {
										layer.msg(data.msg, {icon: 0, time: 3000});
								}
								
				},
				error:function(){
								token = "{$Request.token}";
								layer.close(loading);
					layer.msg('系统错误，请稍后再试', {icon: 2, time: 5000},function(){
										window.location.reload();
								});
				}
			});
				return false;
		}

    /**
     * 注册页面
     */
  
    $("#register").click(function () {
        index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
        window.parent.location.href = "{:url('blog/auth/register')}";
    });
</script>
{/block}
