<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="Bookmark" href="/favicon.ico">
		<link rel="Shortcut Icon" href="/favicon.ico" />
		<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
		<link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css" />
		<link rel="stylesheet" type="text/css" href="/lib/Hui-iconfont/1.0.8/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin" />
		<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css" />
		<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
		<!--/meta 作为公共模版分离出去-->

		<title>用户登录 - 后台管理</title>
		<style>
			@media (min-width: 300px){
		.user-login{
			margin-left: 1%;
			width: 95%;
			min-width: 300px;
			height: 70%;
			min-height: 600px;
			max-height: 800px;
		}
	}
	@media (min-width: 768px) {
		.user-login{
		margin-left: 25%;
		width: 50%;
		min-width: 400px;
		max-width: 800px;
		height: 70%;
		min-height: 600px;
		max-height: 800px;
	}
	}
	
</style>
	</head>
	<body>
		<article class="page-container">
			<div class="layadmin-user-login layadmin-user-display-show user-login" id="user-login" style="margin-top: 40px;">
				<div class="layadmin-user-login-main">
					<div class="layadmin-user-login-box layadmin-user-login-header">
						<h2>管理员用户登录</h2>
					</div>
					<div class="layadmin-user-login-box layadmin-user-login-body layui-form">
						<div class="layui-form-item">
							<label class="layadmin-user-login-icon layui-icon layui-icon-username" for="username"></label>
							<input type="text" id="username" name="username" lay-verify="required" placeholder="用户名" class="layui-input">
						</div>
						<div class="layui-form-item">
							<label class="layadmin-user-login-icon layui-icon layui-icon-password" for="password"></label>
							<input type="password" id="password" name="password" lay-verify="required" placeholder="密码" class="layui-input">
						</div>

						<div class="layui-form-item">
							<div class="layui-row">
								<div class="layui-col-xs7">
									<label class="layadmin-user-login-icon layui-icon layui-icon-vercode" for="vercode"></label>
									<input type="text" id="vercode" name="vercode" placeholder="图形验证码" class="layui-input">
								</div>
								<div class="layui-col-xs5">
									<div style="margin-left: 10px;margin-top: 15px;">
										<img src="{:captcha_src()}" onclick="this.src='{:captcha_src()}?seed='+Math.random()" class="layadmin-user-login-codeimg"
										 lay-submit lay-filter="LAY-user-get-vercode">
									</div>
								</div>
							</div>
						</div>

						
						<div class="layui-form-item">
							<button id="loginButton" class="layui-btn layui-btn-fluid">登 入</button>
						</div>
						
					</div>
				</div>
			</div>
		</article>

		<!--_footer 作为公共模版分离出去-->
		<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
		<script type="text/javascript" src="/static/layui/layui.js"></script>
		<script type="text/javascript" src="/static/h-ui/js/H-ui.min.js"></script>
		<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js"></script>
		<!--/_footer /作为公共模版分离出去-->

		<!--请在下方写此页面业务相关的脚本-->
		<script type="text/javascript">
			layui.use(['jquery', 'form', 'layer'], function() {
				var $ = layui.$;
				var layer = layui.layer;
				var form = layui.form;

			})

			$(document).ready(function() {
				$('#username').focus();
			})



			/**
			 * 会员登录
			 */
			var token = "{$Request.token}";
			$("#loginButton").click(function() {
				member_login();
			});

			//回车提交
			$(document).keyup(function(event) {
				if (event.keyCode == 13) {
					member_login();
				}
			});

			//登录函数
			function member_login() {

				var loading = layer.load({
					time: 0,
					scrollbar: false,
					shade: this.shade
				});
				$.ajax({
					type: "post",
					url: "{:url('admin/auth/post_login')}",
					async: false,
					dataType: 'json',
					data: {
						username: $("#username").val(),
						password: $("#password").val(),
						vercode: $("#vercode").val(),
						__token__: token,
					},
					success: function(data) {
						token = data.token;
						layer.close(loading);
						if (data.code == 0) {
							layer.msg(data.msg, {
								icon: 1,
								time: 2000
							}, function() {
								window.location.href = "{:url('admin/index/index')}";
							});
						} else {
							layer.msg(data.msg, {
								icon: 0,
								time: 2000
							});
						}

					},
					error: function() {
						token = "{$Request.token}";
						layer.close(loading);
						layer.msg('系统错误，请稍后再试', {
							icon: 2,
							time: 2000
						}, function() {
							window.location.reload();
						});
					}
				});
				return false;
			}
		</script>
		<!--/请在上方写此页面业务相关的脚本-->
	</body>
</html>
