{extend name="public/base" /}
{block name="content"}
<section>
	<div class="container mt-20">
		<div class="row">
			<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
				<h3>
					{$member_info.username}
				</h3>
			</div>
			<div class="col-lg-10 col-md-9 col-sm-8 col-xs-6 mt-10">
				<span>发表文章：{$member_info.article_num}</span>
				<span>发表评论：{$member_info.comment_num}</span>
				<br />
				<span>关注文章：{$member_info.fans_num}</span>
				<span>关注会员：{$member_info.follow_num}</span>
				<span>粉丝：{$member_info.fans_num}</span>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-2 col-xs-3">
				<button id="follow_member" class="btn btn-primary va-b radius" style="display: none;"><i class="Hui-iconfont">&#xe656;</i> 关注</button>
				<button id="unfollow_member" class="btn btn-primary va-b radius" style="display: none;"><i class="Hui-iconfont">&#xe688;</i> 取消关注</button>
			</div>
		</div>
		<div id="tab_demo" class="HuiTab">
			<div class="tabBar clearfix"><span>个人资料</span> <span role="tab">他的文章</span><span role='tab'>他的评论</span></div>
			<div class="tabCon bk-gray pd-10" role='tabpanel' id="tab_material">
				<div class="info">
					<table class="table table-border table-bg table-bordered">
						<thead>
							<tr>
								<th width="20%">项目</th>
								<th>值</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>用户名称</th>
								<td>{$member_info.username}</td>
							</tr>
							<tr>
								<th>用户邮箱</th>
								<td>{$member_info.email}</td>
							</tr>
							<tr>
								<th>会员号</th>
								<td>{$member_info.member_pid}</td>
							</tr>
				
							<tr>
								<th>电话</th>
								<td>{$member_info.phone}</td>
							</tr>
							<tr>
								<th>省份-城市</th>
								<td>{$member_info.province}-{$member_info.city}</td>
							</tr>
							<tr>
								<th>性别</th>
								<td>{$member_info.sex}</td>
							</tr>
							<tr>
								<th>注册时间</th>
								<td>{$member_info.create_time}</td>
							</tr>
							<tr>
								<td colspan="2"><input class="btn btn-primary radius" type="button" onclick="window.location.reload()" value="刷新资料"></td>
				
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<div class="tabCon bk-gray pd-10" role='tabpanel' id="tab_article">
				<div class="bk-gray pd-10">
					<ul id="this_article">
						
					</ul>		
				</div>
				<div>
					<div id="demo1"></div>
				</div>
			</div>
			<div class="tabCon bk-gray pd-10" role='tabpanel'>
				<div class="bk-gray pd-10">
					<ul id="this_comment" class="commentList">
						
					</ul>
				</div>
				<div>
					<div id="demo2"></div>
				</div>
			</div>
		</div>

		
	</div>
</section>
<script>
	$(function(){
		$("#tab_demo").Huitab({
			tabEvent:"click",
			index:0
		});
		
	});
	
	
		
</script>
{/block}
{block name='javascript_content'}
<script type="text/javascript" src="__STATIC__/js/blog/area.js"></script>
<script type="text/javascript">
	//文章分页变量容器
	
	var pageObj = {
		current_page:1,
		per_page:10 ,
		dataLength:0,
		
	}
	//评论分页变量容器
	var pageObj2 = {
		current_page:1,
		per_page:10 ,
		dataLength:0,
		
	}
	
	
$(document).ready(function(){
	checkMemberFollow();
	var token = "{$Request.token}";
	pageQuery(1);
	pageQuery2(1);
	layui.use(['form', 'layedit', 'laypage','layer'], function () {
	            var form = layui.form,
	                layer = layui.layer,
	                layedit = layui.layedit,
	                laypage = layui.laypage;

						laypage.render({
					    elem: 'demo1',
					    limits:[10,20,30,40],
							count:pageObj.dataLength,
					    curr:pageObj.current_page,
							layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
					    jump: function(obj,first){
								if(!first){
									var curr = obj.curr;
									pageObj.current_page = obj.curr;
									pageObj.per_page = obj.limit;
									pageQuery(curr);
								}
					      
					    }
					  });	
					  
					laypage.render({
					    elem: 'demo2',
					    limits:[10,20,30,40],
						count:pageObj2.dataLength,
					    curr:pageObj2.current_page,
						layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
					    jump: function(obj,first){
								if(!first){
									var curr = obj.curr;
									pageObj2.current_page = obj.curr;
									pageObj2.per_page = obj.limit;
									pageQuery2(curr);
								}
					      
					    }
					  });
					  
					  
					  
	
	          
	        }
	    );
	    
	    
	
	
	
	
	
	
})	
	//文章分页函数
	function pageQuery(pageno){
		$.ajax({
			type:"get",
			url:"{:url('blog/member/getMemberArticleList',['id'=>$member_info.id])}",
			dataType:'json',
			async:false,
			data:{
				list_rows : pageObj.per_page,
				page : pageObj.current_page,
			},
			success:function(data){
				pageObj.dataLength = data.total;
				articles = data.data;
				$('#this_article').empty()
				for(var i=0;i<articles.length;i++)
				{
					var my_str1= '<li class="bk-gray pd-10 mt-10"><h4 class="title"><a href='+articles[i]['article_url']+'>'+articles[i]['title']+'</a></h4><div>';
					var my_str2='<span><a href='+articles[i]['member_url']+'><i class="Hui-iconfont"> &#xe62c;</i> 作者：'+articles[i].member.username+'&nbsp;&nbsp; </a></span>';			
					var my_str3='<span><a href='+articles[i].category_url+'><i class="Hui-iconfont"> &#xe72d;</i> 分类：'+articles[i].category.category_title+'&nbsp;&nbsp; </a></span>';
					var my_str4='<span><a href="javascript:"><i class="Hui-iconfont">&#xe728;</i> 时间：'+articles[i].update_time+'&nbsp;&nbsp; </a></span>';
					var my_str5='<span><a href='+articles[i].article_url+'><i class="Hui-iconfont">&#xe622;</i>评论：'+articles[i].comment_num+'&nbsp;&nbsp; </a></span>';
					var my_str6='<span><a href="javascript:"><i class="Hui-iconfont">&#xe725;</i>浏览：'+articles[i].click_num+'&nbsp;&nbsp; </a></span>';
					var my_str7='<span><a href="javascript:"><i class="Hui-iconfont">&#xe66d;</i>点赞：'+articles[i].praise_num+'</a></span></div></li>';
					$('#this_article').append(my_str1+my_str2+my_str3+my_str4+my_str5+my_str6+my_str7);
				}
			}
		});
	};
	
	//评论分页函数
	function pageQuery2(pageno){
		$.ajax({
			type:"get",
			url:"{:url('blog/member/getMemberCommentList',['id'=>$member_info.id])}",
			dataType:'json',
			async:false,
			data:{
				list_rows : pageObj2.per_page,
				page : pageObj2.current_page,
			},
			success:function(data){
				pageObj2.dataLength = data.total;
				comments = data.data;
				$('#this_comment').empty()
				for(var i=0;i<comments.length;i++)
				{
					var my_str1 = '<li class="item cl"><a href="#"><i class="avatar size-L radius"><img alt="" src="'+comments[i].member.userimage+'" /></i></a>';
					var my_str2 = '<div class="comment-main"><header class="comment-header"><div class="">';
					var my_str3 = comments[i].member.username= '<time  datetime='+comments[i].update_time+'>'+comments[i].update_time+'</time> 评论文章:  <a class="c-blue" href='+comments[i].article_url+'>'+comments[i].article.title+'</a>';
					var my_str4 = '</div></header><div class="comment-body"><p>'+comments[i].content+'</p></div></div></li>';
					$("#this_comment").append(my_str1+my_str2+my_str3+my_str4);
				}
			}
		});
	};
	
	//检测当前会话用户是否关注该页面用户
	function checkMemberFollow(){
		$.ajax({
			type:"post",
			url:"{:url('blog/member/checkMemberFollow',['id'=>$member_info.id])}",
			async:false,
			success:function(data){
				if(data.code == 0){
					//未关注
					$('#follow_member').css('display','block');
					$('#unfollow_member').css('display','none');
				}else if(data.code == 2){
					//已关注
					$('#follow_member').css('display','none');
					$('#unfollow_member').css('display','block');
				}else{
					return;
				}
			},
			error:function(){
				return;
			}
		});
	}
	
	
	

</script>
{/block}
