{extend name="public/base" /}
{block name="content"}
<section>
	<div class="container mt-20">
		<div class="bk-gray">
			<h3>
				{$member_info.username}
			</h3>
		</div>
		<div id="tab_demo" class="HuiTab">
			<div class="tabBar clearfix"><span>个人资料</span> <span role="tab">我的文章</span><span role='tab'>我的评论</span><span role='tab'>登录记录</span></div>
			<div class="tabCon bk-gray pd-10" role='tabpanel' id="tab_material">
				<ul id="Huifold1" class="Huifold">
					<li class="item">
						<h4>查看个人资料<b>+</b></h4>
						<div class="info">
							<table class="table table-border table-bg table-bordered">
								<thead>
									<tr>
										<th width="20%">项目</th>
										<th>值</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>用户名称</th>
										<td>{$member_info.username}</td>
									</tr>
									<tr>
										<th>用户邮箱</th>
										<td>{$member_info.email}</td>
									</tr>
									<tr>
										<th>会员号</th>
										<td>{$member_info.member_pid}</td>
									</tr>
									<tr>
										<th>头像</th>
										<td>危险</td>
									</tr>
									<tr>
										<th>电话</th>
										<td>{$member_info.phone}</td>
									</tr>
									<tr>
										<th>省份-城市</th>
										<td>{$member_info.province}-{$member_info.city}</td>
									</tr>
									<tr>
										<th>性别</th>
										<td>{$member_info.sex}</td>
									</tr>
									<tr>
										<th>注册时间</th>
										<td>{$member_info.create_time}</td>
									</tr>
									<tr>
										<td colspan="2"><input class="btn btn-primary radius" type="button" onclick="window.location.reload()" value="刷新资料"></td>
				
									</tr>
								</tbody>
							</table>
						</div>
					</li>
					<li class="item">
						<h4>更新个人资料<b>+</b></h4>
						<div class="info">
							<div id="tab_material">
								<table class="table table-border table-bg table-bordered">
									<thead>
										<tr>
											<th width="20%">项目</th>
											<th>值</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th>用户名称</th>
											<td><input type="text" class="input-text radius size-M" value="{$member_info.username}" /> </td>
										</tr>									
										<tr>
											<th>电话</th>
											<td><input type="text" class="input-text radius size-M" value="{$member_info.phone}" /></td>
										</tr>
										<tr>
											<th>省份-城市</th>
											<td>
												<div id="area">
													<span class="select-box">
														<select class="select" id="province" runat="server" onchange="selectprovince(this);" style=" width:95px;display: inline;">
															<option value="{$member_info.province}" selected>{$member_info.province}</option>
														</select>
														<select class="select" class="form-control" id="city" runat="server" style=" width:95px;display: inline;">
															<option value="{$member_info.city}" selected>{$member_info.city}</option>
														</select>
													</span>
													
												</div>
											</td>
										</tr>
										<tr>
											<th>性别</th>
											<td>
												<span class="select-box">
														<select class="select" class="form-control" id="city" runat="server" style=" width:95px;display: inline;">
															{if $member_info.sex=="男"}
															<option value="男" selected>男</option>
															<option value="女">女</option>
															<option value="未知">未知</option>
															{elseif $member_info.sex=="女"}
															<option value="男">男</option>
															<option value="女" selected>女</option>
															<option value="未知">未知</option>
															{else /}
															<option value="男">男</option>
															<option value="女">女</option>
															<option value="未知" selected>未知</option>
															{/if}
														</select>
												</span>
											</td>
										</tr>
										<tr>
											<td><input class="btn btn-primary radius" type="button" onclick="window.location.reload()" value="刷新资料"></td>
											<td><input id="update_info" class="btn btn-primary radius" type="button" value="更新资料"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</li>
					<li class="item">
						<h4>更新头像<b>+</b></h4>
						<div class="info">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bk-gray">
									<h4>当前头像</h4>
									<img class="radius userimage" src="{$member_info.userimage}" />
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bk-gray">
									<h4>上传头像</h4>
									<span class="btn-upload">
									  <a href="javascript:void();" class="btn btn-primary radius btn-upload"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
									  <input type="file" name="file_0" class="input-file">
									</span>
									<div class="mb-2">
										<button class="btn btn-default">上传所选图片</button>
										<button class="btn btn-default">更换为新头像</button>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bk-gray">
									<h4>新头像预览</h4>
									<img class="radius userimage"/>
								</div>
							</div>
						</div>
					</li>
				
				</ul>
			</div>
			
			<div class="tabCon bk-gray pd-10" role='tabpanel' id="tab_article">
				<div class="class="bk-gray pd-10">
					<ul id="this_article">
						
					</ul>		
				</div>
				<div>
					<div id="demo1"></div>
				</div>
			</div>
			<div class="tabCon bk-gray pd-10" role='tabpanel'>我的评论</div>
			<div class="tabCon bk-gray pd-10" role='tabpanel'>登录记录</div>
			<div class="tabCon bk-gray pd-10" role='tabpanel'>登录记录</div>
		</div>
		<!-- 更新表单区域  -->
		
	</div>
</section>
<script>
	$(function(){
		$("#tab_demo").Huitab({
			tabEvent:"click",
			index:0
		});
		jQuery.Huifold = function(obj,obj_c,speed,obj_type,Event){
		if(obj_type == 2){
			$(obj+":first").find("b").html("-");
			$(obj_c+":first").show()}
		$(obj).bind(Event,function(){
			if($(this).next().is(":visible")){
				if(obj_type == 2){
					return false}
				else{
					$(this).next().slideUp(speed).end().removeClass("selected");
					$(this).find("b").html("+")}
			}
			else{
				if(obj_type == 3){
					$(this).next().slideDown(speed).end().addClass("selected");
					$(this).find("b").html("-")}else{
					$(obj_c).slideUp(speed);
					$(obj).removeClass("selected");
					$(obj).find("b").html("+");
					$(this).next().slideDown(speed).end().addClass("selected");
					$(this).find("b").html("-")}
			}
		})}
		$.Huifold("#Huifold1 .item h4","#Huifold1 .item .info","fast",1,"click"); /*5个参数顺序不可打乱，分别是：相应区,隐藏显示的内容,速度,类型,事件*/
	});
	
	
		
</script>
{/block}
{block name='javascript_content'}
<script type="text/javascript" src="__STATIC__/js/blog/area.js"></script>
<script type="text/javascript">
	//分页变量容器
	
	var pageObj = {
		current_page:1,
		per_page:10 ,
		dataLength:0,
		
	}
	
$(document).ready(function(){
	
	pageQuery(1);
	layui.use(['form', 'layedit', 'laypage','layer'], function () {
	            var form = layui.form,
	                layer = layui.layer,
	                layedit = layui.layedit,
	                laypage = layui.laypage;

						laypage.render({
					    elem: 'demo1',
					    limits:[10,20,30,40],
							count:pageObj.dataLength,
					    curr:pageObj.current_page,
							layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
					    jump: function(obj,first){
								if(!first){
									var curr = obj.curr;
									pageObj.current_page = obj.curr;
									pageObj.per_page = obj.limit;
									pageQuery(curr);
								}
					      
					    }
					  });	
	
	          
	        }
	    );
	
})	
	
	function pageQuery(pageno){
		$.ajax({
			type:"get",
			url:"{:url('blog/member/getMemberArticleList',['id'=>$member_info.id])}",
			dataType:'json',
			async:false,
			data:{
				list_rows : pageObj.per_page,
				page : pageObj.current_page,
			},
			success:function(data){
				pageObj.dataLength = data.total;
				articles = data.data;
				$('#this_article').empty()
				for(var i=0;i<=articles.length;i++)
				{
					my_str1= '<li class="bk-gray pd-10 mt-10"><h4 class="title"><a href='+articles[i]['article_url']+'>'+articles[i]['title']+'</a></h4><div>';
					my_str2='<span><a href='+articles[i]['member_url']+'><i class="Hui-iconfont"> &#xe62c;</i> 作者：'+articles[i].member.username+'&nbsp;&nbsp; </a></span>';			
					my_str3='<span><a href='+articles[i].category_url+'><i class="Hui-iconfont"> &#xe72d;</i> 分类：'+articles[i].category.category_title+'&nbsp;&nbsp; </a></span>';
					my_str4='<span><a href="javascript:"><i class="Hui-iconfont">&#xe728;</i> 时间：'+articles[i].update_time+'&nbsp;&nbsp; </a></span>';
					my_str5='<span><a href='+articles[i].article_url+'><i class="Hui-iconfont">&#xe622;</i>评论：'+articles[i].comment_num+'&nbsp;&nbsp; </a></span>';
					my_str6='<span><a href="javascript:"><i class="Hui-iconfont">&#xe725;</i>浏览：'+articles[i].click_num+'&nbsp;&nbsp; </a></span>';
					my_str7='<span><a href="javascript:"><i class="Hui-iconfont">&#xe66d;</i>点赞：'+articles[i].praise_num+'</a></span></div></li>';
					$('#this_article').append(my_str1+my_str2+my_str3+my_str4+my_str5+my_str6+my_str7);
				}
			}
		});
	}
	
	

</script>
{/block}
