{extend name="public/base" /}
{block name="content"}
<section>
	<div class="container mt-20">
		<div class="row">
			<div class="col-lg-9 col-md-9 col-sm-8">
				<div>
					<p class="Hui-iconfont f-20">&#xe616; 最新文章</p> 
				</div>
				<div id="latest_article" class="bk-gray pd-10">
					<ul>
						{volist name='latest_article' id='article'}
							<li class="bk-gray pd-10 mt-10">
								<h4 class="title">
									<a href="{:url('blog/article/readArticle',['id'=>$article.id])}">{$article.title}</a>
								</h4>
								<div>
									<span><a href="{:url('blog/member/readMember',['id'=>$article.member.id])}"><i class="Hui-iconfont"> &#xe62c;</i> 作者：{$article.member.username}&nbsp;&nbsp; </a></span>
									<span><a href="{:url('blog/article/getCategory',['id'=>$article.category.id])}"><i class="Hui-iconfont"> &#xe72d;</i> 分类：{$article.category.category_title}&nbsp;&nbsp; </a></span>
									<span><a href="javascript:"><i class="Hui-iconfont">&#xe728;</i> 时间：{$article.update_time}&nbsp;&nbsp; </a></span>
									<span><a href="{:url('blog/article/readArticle',['id'=>$article.id])}"><i class="Hui-iconfont">&#xe622;</i>评论：{$article.comment_num}&nbsp;&nbsp; </a></span>
									<span><a href="javascript:"><i class="Hui-iconfont">&#xe725;</i>浏览：{$article.click_num}&nbsp;&nbsp; </a></span>
									<span><a href="javascript:"><i class="Hui-iconfont">&#xe66d;</i>点赞：{$article.praise_num}</a></span>
								</div>
								
							</li>
							
						{/volist}
						<li class="bk-gray pd-10 mt-10">
							<h4 class="title">
								<a href="{:url('blog/article/getAllCategory')}">点击查看更多文章...</a>
							</h4>	
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4">
				<div id="calendar" class="calendar">
					
				</div>
				<div class="panel panel-default mt-15">
					<div class="panel-header">点赞排行</div>
					<div class="panel-body">
						<ol class="list-group" id="PraiseList">
							
						</ol>
					</div>
				</div>
				<div class="panel panel-default mt-15">
					<div class="panel-header">阅读量排行</div>
					<div class="panel-body">
						<ol class="list-group" id="ClickList">
							
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</section>

	
<script type="text/javascript">
$(function(){
	getPraiseArticleList();
	getClickArticleList();
	//返回顶部
	$.Huitotop();
			
})
//获取点赞排序列表
	function getPraiseArticleList(){
		$.ajax({
			type:"post",
			url:"{:url('blog/article/getPraiseArticleList')}",
			async:false,
			success:function(data){
				if(data.code == 0){
					var article = data.data;
					for(var i=0;i<article.length;i++){
						var PraiseStr = "<li class='slider_li'><a class='f-14' href="+article[i].article_url+">"+article[i].title+"</li>";
						$('#PraiseList').append(PraiseStr);
					}		
				}
			},
			error:function(){
				layer.msg('系统错误，请稍后尝试！',{icon:2,time:2000},function(){
					window.location.reload();
				})
			}
		}) 
	}
	//获取阅读量排序列表
	function getClickArticleList(){
		$.ajax({
			type:"post",
			url:"{:url('blog/article/getClickArticleList')}",
			async:false,
			success:function(data){
				if(data.code == 0){
					var article = data.data;
					for(var i=0;i<article.length;i++){
						var ClickStr = "<li class='slider_li'><a class='f-14' href="+article[i].article_url+">"+article[i].title+"</li>";
						$('#ClickList').append(ClickStr);
					}		
				}
			},
			error:function(){
				layer.msg('系统错误，请稍后尝试！',{icon:2,time:2000},function(){
					window.location.reload();
				})
			}
		}) 
	}
	
		

</script>
	
	
{/block}
