<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
		<title>XXBlog-{$title}</title>
		<LINK rel="Bookmark" href="blog.jpg">
		<LINK rel="Shortcut Icon" href="blog.jpg" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/wangEditor-3.1.1/release/wangEditor.min.css" />
		<link rel="stylesheet" href="__STATIC__/layui/css/layui.css" media="all" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/h-ui/css/H-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/h-ui/Hui-iconfont/1.0.8/iconfont.min.css" />
		<link rel="stylesheet" href="__STATIC__/css/blog/index.css">
		
		<script type="text/javascript" src="__STATIC__/js/common/jquery.min.js"></script>
		<style>
			body{
				overflow: auto;
			}
			footer{
				height: 45px; width: 100%; background-color: #ddd; position: fixed; bottom: 0;
			}
			
			section{
				overflow: auto;
				margin-top: 20px;
				margin-bottom: 100px;
			}
			.userimage{
				height: 300px;
				width: 300px;
			}
			nav{
				margin-top: 20px;
			}
			
		</style>



	</head>
	<body>
		{include file="blog@public/header" /}
		{block name="content"}{/block}
		{include file="blog@public/footer" /}

		<script type="text/javascript" src="__STATIC__/h-ui/js/H-ui.min.js"></script>
		<script type="text/javascript" src="__STATIC__/layui/layui.js"></script>
		<script type="text/javascript" src="__STATIC__/wangEditor-3.1.1/release/wangEditor.min.js"></script>
		
		

		<script type="text/javascript" src="__STATIC__/blog.js"></script>
		<script>
			$(function() {

				$(".nav-toggle").click(function() {
					$(".navbar-nav").slideToggle();
				});
			})
		</script>
		{block name="javascript_content"}{/block}

	</body>
</html>
