<div class="rollpic cl"> 
  <div class="rollpicshow">
	  <a href="javascript:void(0)" class="prev"></a>
    <ul>
      <li><img width="100" height="150' title="" src="http://www.tp-shop.cn/Template/pc/tpshop/Static/images/banner3.jpg"></li>
      <li><img width="170" height="143" title="" src="temp/2.jpg"></li>
      <li><img width="170" height="143" title="" src="temp/3.jpg"></li>
      <li><img width="170" height="143" title="" src="temp/4.jpg"></li>
      <li><img width="170" height="143" title="" src="temp/5.jpg"></li>
    </ul>
  </div>
  <a href="javascript:void(0)" class="next"></a>
</div>