<div class="layui-layout-admin">
	<div class="layui-header header">
		<div class="layui-main mag0">
				<ul class="layui-nav" lay-filter="demo" style="float: left;">
					<li class="layui-nav-item">
						<a href="#" class="header-nav-big">XXblog</a>
					</li>
					<li class="layui-nav-item layui-this">
						<a href="javascript:;" class="header-nav-mid">Index</a>
					</li>
					<li class="layui-nav-item">
						<a href="javascript:;" class="header-nav-mid layui-hide-xs">title1</a>
					</li>
					<li class="layui-nav-item">
						<a href="javascript:;" class="header-nav-mid layui-hide-xs">title2</a>
					</li>
					<li class="layui-nav-item">
						<a href="javascript:;" class="header-nav-mid">Blogs</a>
						<dl class="layui-nav-child">
							<!-- 二级菜单 -->
							<dd>
								<a href="javascript:;" class="header-nav-mid">移动模块</a>
							</dd>
							<dd>
								<a href="javascript:;" class="header-nav-mid">后台模版</a>
							</dd>
							<dd>
								<a href="javascript:;" class="header-nav-mid">电商平台</a>
							</dd>
							<dd>
								<a href="javascript:;" class="header-nav-mid layui-hide-sm layui-show-xs">电商平台</a>
							</dd>
							<dd>
								<a href="javascript:;" class="header-nav-mid layui-hide-sm layui-show-xs">电商平台</a>
							</dd>
							
						</dl>
					</li>
					<li class="layui-nav-item">
						<a href="javascript:;" class="header-nav-mid">tool</a>
					</li>
				
				</ul>
				{if session('?member')}
				<ul class="layui-nav top_right_menu">
					<li class="layui-nav-item">
						<a>已登录</a>
					</li>
				</ul>
				{else /}
				<ul class="layui-nav top_right_menu">
					<li class="layui-nav-item">
						<a href="{:url('blog/auth/login')}">用户登录</a>
					</li>
					<li class="layui-nav-item">
						<a href="{:url('blog/auth/create')}">用户注册</a>
					</li>
				</ul>
				
				{/if}
		</div>
		
	</div>
</div>
	
	